---
import Basic from "../layouts/Basic.astro";
---

<Basic title="Kfir's Portfolio">
  <section class="relative">
    <div class="bg-hero-bg absolute inset-0 bg-cover bg-center z-[-1] blur-xl">
    </div>
    <div class="container flex flex-col lg:flex-row items-center gap-12">
      <div class="flex flex-1 flex-col items-center lg:items-start">
        <h1
          class="text-bk-light-shades text-5xl lg:text-6xl text-center lg:text-left mb-6">
          Lorem ipsum dolor sit amet
        </h1>
        <p class="text-bk-light-accent text-lg text-center lg:text-left mb-6">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo.
        </p>
      </div>
      <div class="flex flex-1 flex-col items-center lg:items-start">
        <img class="w-9/12 lg:w-max" src="./images/web-design.svg" alt="" />
      </div>
    </div>
  </section>
  <section class="relative dark:bg-bk-dark-accent bg-bkl-dark-accent">
    <div
      class="container flex flex-col items-center justify-center px-12 pt-12 pb-32 gap-12 text-center">
      <h3 class="dark:text-bk-light-shades text-bkl-light-shades text-3xl">
        ABOUT
      </h3>
      <p class="dark:text-bk-light-shades text-bkl-light-shades">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Sed ut perspiciatis unde omnis iste natus error sit
        voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
        dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error
        sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus
        error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo.
      </p>
    </div>
  </section>
</Basic>
