---
import Basic from "../layouts/Basic.astro";
---

<Basic title="Pricing">
  <section
    class="container flex flex-col items-center justify-center text-center dark:text-bk-light-shades text-bkl-light-shades font-Bebas mt-12">
    <h1 class="text-6xl">This page is currently not built.</h1>
    <h3 class="text-3xl">
      You can Find me one Fiverr and check out existing plans
    </h3>
    <a
      class="font-Poopins font-bold mt-28 border-emerald-500 border-4 rounded-lg p-2 transition-colors duration-300 hover:bg-emerald-500"
      href="https://www.fiverr.com/kfiril"
      target="_blank">Check me out on Fiverr!</a
    >
  </section>
</Basic>
