<footer
  class="bg-gradient-to-t dark:from-black/10 from-black/5 to-transparent mt-auto">
  <nav
    class="container items-center justify-center py-12 flex flex-col lg:flex-row gap-4">
    <h4 class="text-base dark:text-bk-light-shades text-bkl-light-shades">
      © 2023 Kfir Tsafrir - All Rights Reserved.
    </h4>
    <a
      class="cursor-default"
      href="https://www.fiverr.com/kfiril"
      target="_blank">
      <img
        class="w-10 grayscale transition-all duration-500 cursor-pointer hover:grayscale-0"
        src="./images/fiverr.svg"
        alt="Find me one Fiverr!"
      />
    </a>
  </nav>
</footer>
