<footer
  class="bg-gradient-to-t dark:from-black/10 from-black/5 to-transparent mt-auto">
  <h4
    class="text-base dark:text-bk-light-shades text-bkl-light-shades text-center p-4 pb-0">
    © 2023 Kfir - All Rights Reserved.
  </h4>
  <div class="container flex items-center justify-end px-12 py-4">
    <a
      class="cursor-default"
      href="https://www.fiverr.com/kfiril"
      target="_blank">
      <img
        class="w-8 grayscale transition-all duration-500 cursor-pointer hover:grayscale-0"
        src="/images/fiverr.svg"
        alt="Find me one Fiverr!"
      />
    </a>
  </div>
</footer>
